<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoxie.gym.place.mapper.AnnouncementMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoxie.gym.place.pojo.Announcement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="announcement_title" property="announcementTitle" jdbcType="VARCHAR" />
    <result column="announcement_author" property="announcementAuthor" jdbcType="VARCHAR" />
    <result column="announcement_time" property="announcementTime" jdbcType="DATE" />
    <result column="announcement_conten" property="announcementConten" jdbcType="VARCHAR" />
    <result column="announcement_delelte" property="announcementDelelte" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, announcement_title, announcement_author, announcement_time, announcement_conten, 
    announcement_delelte
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaoxie.gym.place.pojo.AnnouncementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from announcement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from announcement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from announcement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoxie.gym.place.pojo.AnnouncementExample" >
    delete from announcement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoxie.gym.place.pojo.Announcement" >
    insert into announcement (id, announcement_title, announcement_author, 
      announcement_time, announcement_conten, announcement_delelte
      )
    values (#{id,jdbcType=INTEGER}, #{announcementTitle,jdbcType=VARCHAR}, #{announcementAuthor,jdbcType=VARCHAR}, 
      #{announcementTime,jdbcType=DATE}, #{announcementConten,jdbcType=VARCHAR}, #{announcementDelelte,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoxie.gym.place.pojo.Announcement" >
    insert into announcement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="announcementTitle != null" >
        announcement_title,
      </if>
      <if test="announcementAuthor != null" >
        announcement_author,
      </if>
      <if test="announcementTime != null" >
        announcement_time,
      </if>
      <if test="announcementConten != null" >
        announcement_conten,
      </if>
      <if test="announcementDelelte != null" >
        announcement_delelte,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="announcementTitle != null" >
        #{announcementTitle,jdbcType=VARCHAR},
      </if>
      <if test="announcementAuthor != null" >
        #{announcementAuthor,jdbcType=VARCHAR},
      </if>
      <if test="announcementTime != null" >
        #{announcementTime,jdbcType=DATE},
      </if>
      <if test="announcementConten != null" >
        #{announcementConten,jdbcType=VARCHAR},
      </if>
      <if test="announcementDelelte != null" >
        #{announcementDelelte,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoxie.gym.place.pojo.AnnouncementExample" resultType="java.lang.Integer" >
    select count(*) from announcement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update announcement
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.announcementTitle != null" >
        announcement_title = #{record.announcementTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.announcementAuthor != null" >
        announcement_author = #{record.announcementAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.announcementTime != null" >
        announcement_time = #{record.announcementTime,jdbcType=DATE},
      </if>
      <if test="record.announcementConten != null" >
        announcement_conten = #{record.announcementConten,jdbcType=VARCHAR},
      </if>
      <if test="record.announcementDelelte != null" >
        announcement_delelte = #{record.announcementDelelte,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update announcement
    set id = #{record.id,jdbcType=INTEGER},
      announcement_title = #{record.announcementTitle,jdbcType=VARCHAR},
      announcement_author = #{record.announcementAuthor,jdbcType=VARCHAR},
      announcement_time = #{record.announcementTime,jdbcType=DATE},
      announcement_conten = #{record.announcementConten,jdbcType=VARCHAR},
      announcement_delelte = #{record.announcementDelelte,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoxie.gym.place.pojo.Announcement" >
    update announcement
    <set >
      <if test="announcementTitle != null" >
        announcement_title = #{announcementTitle,jdbcType=VARCHAR},
      </if>
      <if test="announcementAuthor != null" >
        announcement_author = #{announcementAuthor,jdbcType=VARCHAR},
      </if>
      <if test="announcementTime != null" >
        announcement_time = #{announcementTime,jdbcType=DATE},
      </if>
      <if test="announcementConten != null" >
        announcement_conten = #{announcementConten,jdbcType=VARCHAR},
      </if>
      <if test="announcementDelelte != null" >
        announcement_delelte = #{announcementDelelte,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoxie.gym.place.pojo.Announcement" >
    update announcement
    set announcement_title = #{announcementTitle,jdbcType=VARCHAR},
      announcement_author = #{announcementAuthor,jdbcType=VARCHAR},
      announcement_time = #{announcementTime,jdbcType=DATE},
      announcement_conten = #{announcementConten,jdbcType=VARCHAR},
      announcement_delelte = #{announcementDelelte,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>