<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoxie.gym.place.mapper.FieldOrderMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoxie.gym.place.pojo.FieldOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="field_id" property="fieldId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_data" property="orderData" jdbcType="DATE" />
    <result column="order_time" property="orderTime" jdbcType="VARCHAR" />
    <result column="order_charge" property="orderCharge" jdbcType="DOUBLE" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="order_delelte" property="orderDelelte" jdbcType="INTEGER" />
    <result column="order_begin" property="orderBegin" jdbcType="DATE" />
    <result column="order_end" property="orderEnd" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, field_id, user_id, order_data, order_time, order_charge, order_status, order_delelte, 
    order_begin, order_end
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaoxie.gym.place.pojo.FieldOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from field_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from field_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from field_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoxie.gym.place.pojo.FieldOrderExample" >
    delete from field_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoxie.gym.place.pojo.FieldOrder" >
    insert into field_order (id, field_id, user_id, 
      order_data, order_time, order_charge, 
      order_status, order_delelte, order_begin, 
      order_end)
    values (#{id,jdbcType=INTEGER}, #{fieldId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{orderData,jdbcType=DATE}, #{orderTime,jdbcType=VARCHAR}, #{orderCharge,jdbcType=DOUBLE}, 
      #{orderStatus,jdbcType=INTEGER}, #{orderDelelte,jdbcType=INTEGER}, #{orderBegin,jdbcType=DATE}, 
      #{orderEnd,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoxie.gym.place.pojo.FieldOrder" >
    insert into field_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fieldId != null" >
        field_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderData != null" >
        order_data,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="orderCharge != null" >
        order_charge,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderDelelte != null" >
        order_delelte,
      </if>
      <if test="orderBegin != null" >
        order_begin,
      </if>
      <if test="orderEnd != null" >
        order_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fieldId != null" >
        #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderData != null" >
        #{orderData,jdbcType=DATE},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="orderCharge != null" >
        #{orderCharge,jdbcType=DOUBLE},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderDelelte != null" >
        #{orderDelelte,jdbcType=INTEGER},
      </if>
      <if test="orderBegin != null" >
        #{orderBegin,jdbcType=DATE},
      </if>
      <if test="orderEnd != null" >
        #{orderEnd,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoxie.gym.place.pojo.FieldOrderExample" resultType="java.lang.Integer" >
    select count(*) from field_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update field_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fieldId != null" >
        field_id = #{record.fieldId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderData != null" >
        order_data = #{record.orderData,jdbcType=DATE},
      </if>
      <if test="record.orderTime != null" >
        order_time = #{record.orderTime,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCharge != null" >
        order_charge = #{record.orderCharge,jdbcType=DOUBLE},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.orderDelelte != null" >
        order_delelte = #{record.orderDelelte,jdbcType=INTEGER},
      </if>
      <if test="record.orderBegin != null" >
        order_begin = #{record.orderBegin,jdbcType=DATE},
      </if>
      <if test="record.orderEnd != null" >
        order_end = #{record.orderEnd,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update field_order
    set id = #{record.id,jdbcType=INTEGER},
      field_id = #{record.fieldId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_data = #{record.orderData,jdbcType=DATE},
      order_time = #{record.orderTime,jdbcType=VARCHAR},
      order_charge = #{record.orderCharge,jdbcType=DOUBLE},
      order_status = #{record.orderStatus,jdbcType=INTEGER},
      order_delelte = #{record.orderDelelte,jdbcType=INTEGER},
      order_begin = #{record.orderBegin,jdbcType=DATE},
      order_end = #{record.orderEnd,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoxie.gym.place.pojo.FieldOrder" >
    update field_order
    <set >
      <if test="fieldId != null" >
        field_id = #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderData != null" >
        order_data = #{orderData,jdbcType=DATE},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="orderCharge != null" >
        order_charge = #{orderCharge,jdbcType=DOUBLE},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderDelelte != null" >
        order_delelte = #{orderDelelte,jdbcType=INTEGER},
      </if>
      <if test="orderBegin != null" >
        order_begin = #{orderBegin,jdbcType=DATE},
      </if>
      <if test="orderEnd != null" >
        order_end = #{orderEnd,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoxie.gym.place.pojo.FieldOrder" >
    update field_order
    set field_id = #{fieldId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      order_data = #{orderData,jdbcType=DATE},
      order_time = #{orderTime,jdbcType=VARCHAR},
      order_charge = #{orderCharge,jdbcType=DOUBLE},
      order_status = #{orderStatus,jdbcType=INTEGER},
      order_delelte = #{orderDelelte,jdbcType=INTEGER},
      order_begin = #{orderBegin,jdbcType=DATE},
      order_end = #{orderEnd,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>